{% liquid
  assign settings_banner_root_id = root_id | default: 'settings-banner-root'
%}

<div id="{{ settings_banner_root_id }}" {% if include_block_attributes %}{{ block.shopify_attributes }}{% endif %}></div>

{% render 'settings-banner-styles',
  root_id: settings_banner_root_id
%}

{% render 'settings-banner-script',
  root_id: settings_banner_root_id,
  current_product_id: product.id
%}
